
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height: 100%;
    width:100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

span{
    display: flex;
    align-items: center;
    justify-content: center;
}

span.activate{
    animation-name:choix;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-duration: 3s;
    animation-timing-function:linear;
    animation-direction:reverse;
}

@keyframes choix {
    from{
        border: 2px dashed rgb(0, 0, 0);
        width:2em;
        height:2em;
        border-radius: 25px;
    }
    25%{

        border:2px dashed rgb(0, 0, 0);
        transform:rotateZ(90deg); 
    }
    45%{
        border:2px dashed rgb(0, 0, 0);
        transform:rotateZ(180deg); 
    }
    75%{
        border:2px dashed rgb(0, 0, 0);
        transform:rotateZ(300deg); 
    }
    100%{
        border:2px dashed rgb(0, 0, 0);
        transform:rotateZ(360deg); 
    }
}

/*================= MENU =================*/
.die-tour{
    height:30em;
    width:25%;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
}

#die{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#die img{
    height:50%;
    width:50%;
}

#tour{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: 0.5s;    
}

#tour span{
    width:25%;
    height:22.5%;
    background-color: rgb(129, 25, 25);   
    border: 1px solid black; 
    border-radius: 15px;
    position: relative;
    transition: 0.5s;
    cursor:pointer;
}
#tour span:nth-child(1){background-color: red;}
#tour span:nth-child(2){background-color: green;}
#tour span:nth-child(3){background-color: blue;}
#tour span:nth-child(4){background-color: yellow;}

#buttons{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
button{
    border:0;
    font-weight: 700;
    background-color: rgb(0, 102, 255);
    color: #fff;
    padding:1em 2em;
    border-radius: 10px;
    letter-spacing: 1.5px;
}
button:hover{
    cursor:pointer;   
}


span.active{
    animation-name:selected;
    animation-delay:0.1s;
    animation-iteration-count:infinite;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-direction: alternate;
}

@keyframes selected{
    from{
        width:25%;
        height:22.5%;
        z-index: 100;
    }
    25%{
        outline:2px dashed white;
        transform: scale(1.2);
        z-index: 100; 
    }
    45%{
        outline:3px dashed white; 
        transform: scale(1.3);
        z-index: 100;
    }
    75%{
        outline:3.5px dashed white; 
        transform: scale(1.3);
        z-index: 100;
    }
    100%{
        outline:4.5px dashed white; 
        transform: scale(1.5);
        z-index: 100;
    }
}

/*=================SPACE GAME=================*/

#spaceGame{
    border:1px solid black;
    background-color: #fff;
    width: 50%;
    height: 38.75em;
    display: grid;
    grid-template-rows: 3fr 1.5fr 3fr;
    grid-template-areas:"header"
                        "milieu"
                        "footer";
    visibility: hidden;
    opacity: 0.05;
}

#spaceGame.active{
    display: grid;
    transition:5s;
    visibility: visible;
    opacity: 1;
}


#top-orientation{grid-area:header;}
.middle-orientation{grid-area: milieu;} /*Pas tres coherent comme nom mais bon.........*/
.foot-orientation{grid-area: footer;}


/*===================   TOP  ===================*/

#top-orientation{
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
}


/*=== RED ===*/
#top-orientation #red{
    border:45px solid rgb(216, 0, 0);
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url('../img/1.jpeg');
    background-size: cover;
    background-position: center;
}

#red div{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

#red div:nth-child(1){
    border-top:1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}
#red div:nth-child(2){
    border-bottom:1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}


#red div span{
    border: 1px solid black;
    width:2em;
    height:2em;
    border-radius: 25px;
    background-color: rgb(206, 0, 0);
}

div.lightHouse{
    animation-name:lightHouse;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-delay:0;
    animation-timing-function: linear;
    animation-direction:alternate-reverse;
}

@keyframes lightHouse{
    from{
        
        opacity:1;
        transform:scale(1)
    }
    to{
        opacity:0.8;
        transform:scale(0.995)
    }

}



/*=== GREEN ===*/
#top-orientation #green{
    border:45px solid green;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url('../img/4.jpeg');
    background-size: cover;
    background-position: center;
}

#green div{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#green div:nth-child(1){
    border-top:1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}
#green div:nth-child(2){
    border-bottom:1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}


#green div span{
    border: 1px solid black;
    width:2em;
    height:2em;
    border-radius: 25px;
    background-color: green;
}

/*=== GREEN CASES ===*/

#top-orientation #greenCases{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
}

#top-orientation #greenCases div{
    border:none;
    outline: none;
    display: grid;
    grid-template-rows: repeat(6,1fr);
}

#top-orientation #greenCases div span{
    border: 1px solid black;
}

#top-orientation #greenCases div:nth-child(2){
    background-color: green;
}
#top-orientation #greenCases div:nth-child(2) span:nth-child(1){
    background-color: #fff;
}

#top-orientation #greenCases div:nth-child(3) span:nth-child(2){
    background-color: green;
}


/*===================   FOOT  ===================*/


#foot-orientation{
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
}


/*=== BLUE ===*/
#foot-orientation #blue{
    border:45px solid rgb(0, 50, 216);
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url('../img/3.jpeg');
    background-size: cover;
    background-position: center;
}

#blue div{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#blue div:nth-child(1){
    border-top:1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}
#blue div:nth-child(2){
    border-bottom:1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}


#blue div span{
    border: 1px solid black;
    width:2em;
    height:2em;
    border-radius: 25px;
    background-color: rgb(0, 50, 216);
}

/*=== YELLOW ===*/
#foot-orientation #yellow{
    border:45px solid yellow;
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url('../img/Nakamura.jpeg');
    background-size: cover;
    background-position: center;
}

#yellow div{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#yellow div:nth-child(1){
    border-top:1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}
#yellow div:nth-child(2){
    border-bottom:1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}


#yellow div span{
    border: 1px solid black;
    width:2em;
    height:2em;
    border-radius: 25px;
    background-color: yellow;
}

/*=== BLUE CASES ===*/

#foot-orientation #blueCases{
    border:1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#foot-orientation #blueCases div{
    display: grid;
    grid-template-rows: repeat(6,1fr);
}

#foot-orientation #blueCases div span{
    border: 1px solid #000;
}

#foot-orientation #blueCases div:nth-child(2){
    background-color: blue;
}
#foot-orientation #blueCases div:nth-child(2) span:nth-child(6){
    background-color: #fff;
}

#foot-orientation #blueCases div:nth-child(1) span:nth-child(5){
    background-color: blue;
}

/*===============================   MIDDLE  =============================== */

#middle-orientation{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

#middle-orientation #middleSquare{
    background-image: url('../img/111.jpeg');
    background-size: cover;
    background-position: center;
}

/*=== RED CASES ===*/

#middle-orientation #redCases{
    border:1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#middle-orientation #redCases div{
    height:100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

#middle-orientation #redCases div span{
    border: 1px solid #000;
}

#middle-orientation #redCases div:nth-child(2){
    background-color: red;
}
#middle-orientation #redCases div:nth-child(2) span:nth-child(1){
    background-color: #fff;
}

#middle-orientation #redCases div:nth-child(1) span:nth-child(2){
    background-color: red;
}


/*=== YELLOW CASES ===*/

#middle-orientation #yellowCases{
    border:1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#middle-orientation #yellowCases div{
    height:100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

#middle-orientation #yellowCases div span{
    border: 1px solid #000;
}

#middle-orientation #yellowCases div:nth-child(2){
    background-color: yellow;
}
#middle-orientation #yellowCases div:nth-child(2) span:nth-child(6){
    background-color: #fff;
}

#middle-orientation #yellowCases div:nth-child(3) span:nth-child(5){
    background-color: yellow;
}